@import url('https://fonts.googleapis.com/css2?family=Kings&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$main_font: "Kings", cursive;
$second_font: "Noto Sans", sans-serif;

@mixin max-screen($res) { 
    @media screen and (max-width: $res) { 
      @content; 
    } 
  }

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1180px;
    margin: auto;
}

header{
    padding: 35px 0;
    background: rgb(22, 58, 36);
    @include max-screen(1200px){  
        padding: 0 15px;
}
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-screen(417px){  
            flex-wrap: wrap;
            align-items: center;
  }
        .logo{
            a{
                text-decoration: none;
            }
        }
        nav{
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-right: 24px;
                    @include max-screen(561px){  
                        margin-right: 14px;
              }
              
                    &:last-of-type{
                        margin-right: 0;
                        a{
                            border-radius: 160px;
                            padding: 15px 25px;
                            background: rgb(25, 140, 54);
                            &:hover{
                                background: rebeccapurple;
                            }
                            
                            @include max-screen(561px){  
                                padding: 10px 15px;
                      }
                        }
                    }
                    a{
                        text-decoration: none;
                        color: rgb(251, 250, 247);
                        font-family: $second_font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0%;
                        text-align: right;
                        &:hover{
                            color: yellow;
                        }
                        @include max-screen(500px){  
                            font-size: 12px;
                  }
                  @include max-screen(417px){  
                    font-size: 15px;
          }
                        
                    }
                }
            }
        }
    }
}
.main_banner{
    background: rgb(22, 58, 36);
    padding-top: 70px;
    @include max-screen(1200px){  
              padding: 0 15px;
    }
    @include max-screen(961px){  
        padding-top: 80px;
}
@include max-screen(571px){  
    padding-top: 30px;
}
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-screen(961px){  
            flex-wrap: wrap;
            align-items: center;
  }
        .main_banner_text{
            h1{
                color: rgb(251, 250, 247);
                font-family: $main_font;
                font-size: 68px;
                font-weight: 600;
                line-height: 65.25px;
                letter-spacing: 0%;
                text-align: left;
                margin-bottom: 18px;
                max-width: 650px;
                @include max-screen(571px){  
                    font-size: 60px;
          }
          @include max-screen(507px){  
            font-size: 50px;
            margin-bottom: 10px;
  }
  @include max-screen(428px){  
    font-size: 40px;
}
@include max-screen(349px){  
    font-size: 34px;
}
            }
            p{
                max-width: 475px;
                color: rgb(251, 250, 247);
                font-family: $second_font;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0%;
                text-align: left;
                @include max-screen(507px){  
                    font-size: 14px;
          }
            }
        }
        .main_banner_image{
            max-width: 738px;
            img{
                width: 100%;
            }
        }
    }
}
.human{
    padding: 120px 0;
    @include max-screen(1200px){  
        padding-left: 15px;
        padding-right: 15px;
}
@include max-screen(1200px){  
    padding-top: 60px;
    padding-bottom: 60px;
}
    .container{
        .human_box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include max-screen(673px){  
                flex-direction: column;
                align-items: center;
        }
            &:nth-child(2){
            flex-direction: row-reverse;
            margin-bottom: 113px;
            @include max-screen(673px){  
                flex-direction: column;
                align-items: center;
        }
            .human_box_text{
                h3{
                    font-size: 51px;
                }
            }
            }
            .human_box_image{
                max-width: 492px;
                @include max-screen(673px){  
                    margin-bottom: 20px;
            }
                img{
                    width: 100%;
                }
            }
            .human_box_text{
                h3{
                    color: rgb(22, 58, 36);
                    font-family: $main_font;
                    max-width: 494px;
                    font-size: 61px;
                    font-weight: 600;
                    line-height: 54px;
                    letter-spacing: 0%;
                    text-align: left;
                    margin-bottom: 27px;
                }
                p{
                    max-width: 374px;
                    color: rgb(22, 58, 36);
                    font-family: $second_font;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0%;
                    text-align: left;
                    @include max-screen(673px){  
                        margin-bottom: 20px;
                }
                }
            }
        }
        h4{
            color: rgb(22, 58, 36);
            font-family: $main_font;
            font-size: 48px;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 66px;
            @include max-screen(469px){  
                margin-bottom: 30px;
        }
        }
        .human_photos{
            display: flex;
            align-items: center;
            justify-content: center;
            @include max-screen(458px){  
                flex-direction: column;
                align-items: center;
        }
            a{
                margin-right: 86px;
                max-width: 110px;
                &:hover{
                    transform: scale(1.2);
                    transition-duration: 0.3s;
                }
                img{
                    width: 100%;
                }
                @include max-screen(910px){  
                    margin-right: 50px;
            }
            @include max-screen(767px){  
                margin-right: 20px;
        }
        @include max-screen(458px){  
            margin-right: 0;
            margin-bottom: 15px;
    }
                &:last-of-type{
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}
.production{
    padding: 60px 0 120px;
    background: rgb(22, 58, 36);
    @include max-screen(1200px){  
        padding-left: 15px;
        padding-right: 15px;
  }
  @include max-screen(800px){  
    padding-bottom: 60px;
}
    .container{
        h3{
            color: rgb(251, 250, 247);
            font-family: $main_font;
            font-size: 48px;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 70px;
            @include max-screen(418px){  
                font-size: 38px;
        }
        }
        .production_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @include max-screen(418px){  
                display: block;
        }
            .production_items{
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover{
                    transform: scale(1.2);
                    transition-duration: 0.3s;
                }
                .production_images{
                    margin-bottom: 28px;
                }
                h4{
                    color: rgb(251, 250, 247);
                    font-family: $second_font;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0%;
                    text-align: center;
                    margin-bottom: 5px;
                }
                h5{
                    color: rgb(251, 250, 247);
                    font-family: $second_font;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0%;
                    text-align: center;
                }
            }
        }
    }
}
.focus{
    padding: 114px 0;
    background: rgb(242, 239, 230);
    @include max-screen(1200px){  
        padding-left: 15px;
        padding-right: 15px;
  }
  @include max-screen(635px){  
    padding-top: 50px;
    padding-bottom: 50px;
}
    .container{
        display: flex;
        flex-direction: column;
        align-self: center;
        h3{
            color: rgb(22, 58, 36);
            font-family: $main_font;
            margin-bottom: 27px;
            font-size: 48px;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0%;
            text-align: center;
            @include max-screen(635px){  
                font-size: 40px;
          }
        }
        h4{
            color: rgb(22, 58, 36);
            font-family: $second_font;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0%;
            text-align: center;
            max-width: 760px;
            margin: auto;
            @include max-screen(635px){  
                font-size: 15px;
          }
        }
        .focus_image{
            max-width: 1180px;
            img{
                width: 100%;
            }
        }
    }
}
.fit{
    padding: 60px 0;
    @include max-screen(1200px){  
        padding-left: 15px;
        padding-right: 15px;
  }
    .container{
      .fit_postcard{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;
        @include max-screen(880px){  
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
      }
        .fit_postcard_item{
            h3{
                margin-bottom: 27px;
                color: rgb(22, 58, 36);
                font-family: $main_font;
                font-size: 70px;
                font-weight: 600;
                line-height: 54px;
                letter-spacing: 0%;
                text-align: left;
                max-width: 400px;
            }
            p{
                max-width: 379px;
                color: rgb(22, 58, 36);
                font-family: $second_font;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        .fit_postcard_image{
            max-width: 492px;
            img{
                width: 100%;
            }
        }
      }  
      h4{
        color: rgb(22, 58, 36);
        font-family: $main_font;
        font-size: 48px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 26px;
      }
      h6{
        margin-bottom: 18px;
        color: rgb(22, 58, 36);
        font-family: $second_font;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: center;
      }
      .fit_box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .fit_box_item{
            border-radius: 15px;
            box-shadow: 5px 5px 20px 0px rgb(233, 228, 213);
            background: rgb(251, 250, 247);
            padding: 60px 20px 60px 40px;
            max-width: 352px;
            &:hover{
                position: relative;
                top: -25px;
                transition-duration: 0.4s;
            }
            &:first-of-type{
                @include max-screen(1113px){  
                    margin-bottom: 20px;
              }
            }
            &:nth-child(2){
                @include max-screen(752px){  
                    margin-bottom: 20px;
              }
            }
            h5{
                max-width: 301px;
                color: rgb(22, 58, 36);
                font-family: $main_font;
                font-size: 36px;
                font-weight: 600;
                line-height: 31.5px;
                letter-spacing: 0%;
                text-align: left;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            ul{
                margin-left: 20px;
                li{
                    margin-bottom: 15px;
                    color: rgb(22, 58, 36);
                    font-family: $second_font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0%;
                    text-align: left;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
      }
    }
}
.easy{
    padding: 115px 0;
    background-color: #F2EFE6;
    @include max-screen(1015px){  
        padding-left: 15px;
        padding-right: 15px;
  }
  @include max-screen(777px){  
    padding-top: 60px;
    padding-bottom: 60px;
}
    .container{
        h3{
            color: rgb(22, 58, 36);
            font-family: $main_font;
            font-size: 47px;
            font-weight: 600;
            line-height: 54px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 26px;
            @include max-screen(440px){  
                font-size: 40px;
          }
        }
        h4{
            margin-bottom: 40px;
            color: rgb(22, 58, 36);
            font-family: $second_font;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0%;
            text-align: center;
            @include max-screen(440px){  
                font-size: 16px;
          }
        }
        .easy_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include max-screen(777px){  
                flex-direction: column;
                align-items: center;
          }
            .easy_box_item{
                @include max-screen(864px){  
                    border: solid 1px pink;
                    padding: 15px;
                    border-radius: 85px;
                    margin-bottom: 20px;
              }
              @include max-screen(777px){  
                margin-bottom: 20px;
          }
                h5{
                    margin-bottom: 13px;
                    color: rgb(22, 58, 36);
                    font-family: $second_font;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0%;
                    text-align: center;
                    max-width: 249px;
                }
                p{
                    color: rgb(22, 58, 36);
                    font-family: $main_font;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 31.5px;
                    letter-spacing: 0%;
                    text-align: center;
                }
                &:last-of-type{
                    img{
                        position: relative;
                        top: 44px;
                        @include max-screen(864px){  
                            display: none;
                      }
                    }
                    h5{
                        position: relative;
                        top: -91px;
                         right: -15px;
                         @include max-screen(864px){  
                            position: static;
                      }
                    }
                    p{
                        position: relative;
                        top: -91px;
                        font-size: 36px;
                        @include max-screen(864px){  
                            position: static;
                      }
                    }
                }
            }
            .easy_box_image{
                max-width: 75px;
                @include max-screen(864px){  
                    display: none;
              }
                img{
                    width: 100%;
                }
            }
        }
        .easy_link{
            border-radius: 160px;
            background: rgb(25, 140, 54);
            padding: 15px 25px;
            max-width: 189px;
            margin: auto;
            &:hover{
                background: pink;
            }
            a{
                text-decoration: none;
                color: rgb(251, 250, 247);
                font-family: $second_font;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: center;
            }
        }
    }
}
.simple{
    padding: 120px 0;
    @include max-screen(1000px){  
        padding-left: 15px;
        padding-right: 15px;
  }
  @include max-screen(921px){  
    padding-top: 60px;
    padding-bottom: 60px;
}
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include max-screen(921px){  
            flex-direction: column;
            align-items: center;
      }
        .simple_text{
            @include max-screen(921px){  
                margin-bottom: 20px;
            }
            h3{
                margin-bottom: 25px;
                max-width: 400px;
                color: rgb(22, 58, 36);
                font-family: $main_font;
                font-size: 67px;
                font-weight: 600;
                line-height: 54px;
                letter-spacing: 0%;
                text-align: left;
                @include max-screen(429px){  
                    font-size: 50px;
                    max-width: 320px;
                }
                @include max-screen(329px){  
                    max-width: 300px;
                    font-size: 45px;
                }
            }
            p{
                margin-bottom: 19px;
                color: rgb(22, 58, 36);
                font-family: $second_font;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0%;
                text-align: left;
            }
            a{
                text-decoration: none;
                border-radius: 160px;
                background: rgb(25, 140, 54);
                padding: 15px 25px;
                color: rgb(251, 250, 247);
                font-family: $second_font;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: left;
                &:hover{
                    background: yellow;
                    color: green;
                }
            }
        }
        .simple_image{
            max-width: 492px;
            img{
                width: 100%;
            }
        }
    }
}
.leaf{
    padding: 120px 0;
    background-color: #163A24;
    @include max-screen(957px){  
        padding: 60px 15px;
    }
    .container{
        max-width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-screen(957px){  
            display: block;
        }
        .leaf_text{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: rgb(251, 250, 247);
                font-family: $main_font;
                font-size: 48px;
                font-weight: 600;
                line-height: 54px;
                letter-spacing: 0%;
                text-align: center;
                margin-bottom: 26px;
                @include max-screen(490px){  
                    font-size: 40px;
                }
                @include max-screen(413px){  
                    font-size: 30px;
                    margin-bottom: 18px;
                }
            }
            h4{
                margin-bottom: 18px;
                color: rgb(251, 250, 247);
                font-family: $second_font;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0%;
                text-align: center;
                @include max-screen(413px){  
                    font-size: 15px;
                }
                @include max-screen(328px){  
                    font-size: 14px;
                }
            }
            a{
                padding: 15px 25px;
                border-radius: 160px;
                background: rgb(250, 181, 160);
                color: rgb(22, 58, 36);
                font-family: $second_font;
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: center;
                text-decoration: none;
                &:hover{
                    background: yellow;
                }
                @include max-screen(413px){  
                    font-size: 12px;
                }
            }
        }
        .leaf_image{
            @include max-screen(957px){  
                display: none;
            }
        }
    }

}
.date{
    padding: 60px 0;
    background: rgb(242, 239, 230);
    @include max-screen(1000px){  
        padding-left: 15px;
        padding-right: 15px;
  }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-screen(715px){  
            flex-direction: column;
            align-items: center;
      }
        .date_text{
            h3{
                color: rgb(22, 58, 36);
                font-family: $main_font;
                font-size: 48px;
                font-weight: 600;
                line-height: 54px;
                letter-spacing: 0%;
                text-align: left;
                margin-bottom: 26px;
            }
            h4{
                color: rgb(22, 58, 36);
                font-family: $second_font;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        .date_form{
            form{
                margin-bottom: 11px;
                input{
                width: 500px;
                padding: 15px;
                box-sizing: border-box;
                border: 1px solid rgb(242, 239, 230);
                border-radius: 255px;
                
                background: rgb(255, 255, 255);
                @include max-screen(1000px){  
                    width: 300px;
              }
              @include max-screen(405px){  
                width: 200px;
          }
                }
                button{
                    border-radius: 160px;
                    background: rgb(21, 118, 46);
                    padding: 12px 25px;
                    color: rgb(251, 250, 247);
                    font-family: $second_font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0%;
                    text-align: center;
                    margin-left: -40px;
                    @include max-screen(405px){  
                        margin-left: -30px;
                  }
                }
            }
            p{
                max-width: 524px;
                color: rgb(22, 58, 36);
                font-family: $second_font;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0%;
                text-align: left;
                a{
                    color: #15762E;
                }
                @include max-screen(1000px){  
                    width: 300px;
              }
            }
        }
    }
}
footer{
    padding: 40px 0 20px;
    @include max-screen(1200px){  
        padding: 40px 15px 20px;
  }
    .container{
        .box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            @include max-screen(520px){  
                flex-direction: column;
                align-items: center;
          }
            h3{
                color: rgb(22, 58, 36);
                font-family: $main_font;
                font-size: 28px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0%;
                text-align: center;
                @include max-screen(520px){  
                    margin-bottom: 20px;
              }
            }
            .social{
                display: flex;
                align-items: center;
                a{
                    margin-right: 14px;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    &:hover{
                        transform: scale(1.3);
                        transition-duration: 0.3s;
                    }
                }
            }
        }
        hr{
            margin-bottom: 25px;
            background: rgb(242, 239, 230);
        }
        .last_text{
            display: flex;
            justify-content: space-between;
            @include max-screen(900px){  
                flex-direction: column;
                align-items: center;
          }
          @include max-screen(436px){  
            display: block;
      }
            p{
                color: rgb(22, 58, 36);
                font-family: $second_font;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0%;
                text-align: left;
                @include max-screen(900px){  
                    margin-bottom: 20px;
              }
            }
            ul{
                display: flex;
                @include max-screen(436px){  
                    display: block;
              }
                li{
                    list-style: none;
                    margin-right: 14px;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    &:hover{
                        transform: scale(1.2);
                        transition-duration: 0.3s;
                    }
                    @include max-screen(436px){  
                        margin-bottom: 20px;
                  }
                    a{
                        text-decoration: none;
                        color: rgb(25, 140, 54);
                        font-family: $second_font;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0%;
                        text-align: right;
                        @include max-screen(436px){  
                            font-size: 18px;
                      }
                    }
                }
            }
        }
    }
}