@import url("https://fonts.googleapis.com/css2?family=Kings&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1180px;
  margin: auto;
}

header {
  padding: 35px 0;
  background: rgb(22, 58, 36);
}
@media screen and (max-width: 1200px) {
  header {
    padding: 0 15px;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 417px) {
  header .container {
    flex-wrap: wrap;
    align-items: center;
  }
}
header .container .logo a {
  text-decoration: none;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li {
  list-style: none;
  margin-right: 24px;
}
@media screen and (max-width: 561px) {
  header .container nav ul li {
    margin-right: 14px;
  }
}
header .container nav ul li:last-of-type {
  margin-right: 0;
}
header .container nav ul li:last-of-type a {
  border-radius: 160px;
  padding: 15px 25px;
  background: rgb(25, 140, 54);
}
header .container nav ul li:last-of-type a:hover {
  background: rebeccapurple;
}
@media screen and (max-width: 561px) {
  header .container nav ul li:last-of-type a {
    padding: 10px 15px;
  }
}
header .container nav ul li a {
  text-decoration: none;
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: right;
}
header .container nav ul li a:hover {
  color: yellow;
}
@media screen and (max-width: 500px) {
  header .container nav ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 417px) {
  header .container nav ul li a {
    font-size: 15px;
  }
}

.main_banner {
  background: rgb(22, 58, 36);
  padding-top: 70px;
}
@media screen and (max-width: 1200px) {
  .main_banner {
    padding: 0 15px;
  }
}
@media screen and (max-width: 961px) {
  .main_banner {
    padding-top: 80px;
  }
}
@media screen and (max-width: 571px) {
  .main_banner {
    padding-top: 30px;
  }
}
.main_banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 961px) {
  .main_banner .container {
    flex-wrap: wrap;
    align-items: center;
  }
}
.main_banner .container .main_banner_text h1 {
  color: rgb(251, 250, 247);
  font-family: "Kings", cursive;
  font-size: 68px;
  font-weight: 600;
  line-height: 65.25px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 18px;
  max-width: 650px;
}
@media screen and (max-width: 571px) {
  .main_banner .container .main_banner_text h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 507px) {
  .main_banner .container .main_banner_text h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 428px) {
  .main_banner .container .main_banner_text h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 349px) {
  .main_banner .container .main_banner_text h1 {
    font-size: 34px;
  }
}
.main_banner .container .main_banner_text p {
  max-width: 475px;
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 507px) {
  .main_banner .container .main_banner_text p {
    font-size: 14px;
  }
}
.main_banner .container .main_banner_image {
  max-width: 738px;
}
.main_banner .container .main_banner_image img {
  width: 100%;
}

.human {
  padding: 120px 0;
}
@media screen and (max-width: 1200px) {
  .human {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .human {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.human .container .human_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 673px) {
  .human .container .human_box {
    flex-direction: column;
    align-items: center;
  }
}
.human .container .human_box:nth-child(2) {
  flex-direction: row-reverse;
  margin-bottom: 113px;
}
@media screen and (max-width: 673px) {
  .human .container .human_box:nth-child(2) {
    flex-direction: column;
    align-items: center;
  }
}
.human .container .human_box:nth-child(2) .human_box_text h3 {
  font-size: 51px;
}
.human .container .human_box .human_box_image {
  max-width: 492px;
}
@media screen and (max-width: 673px) {
  .human .container .human_box .human_box_image {
    margin-bottom: 20px;
  }
}
.human .container .human_box .human_box_image img {
  width: 100%;
}
.human .container .human_box .human_box_text h3 {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  max-width: 494px;
  font-size: 61px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 27px;
}
.human .container .human_box .human_box_text p {
  max-width: 374px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 673px) {
  .human .container .human_box .human_box_text p {
    margin-bottom: 20px;
  }
}
.human .container h4 {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 66px;
}
@media screen and (max-width: 469px) {
  .human .container h4 {
    margin-bottom: 30px;
  }
}
.human .container .human_photos {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 458px) {
  .human .container .human_photos {
    flex-direction: column;
    align-items: center;
  }
}
.human .container .human_photos a {
  margin-right: 86px;
  max-width: 110px;
}
.human .container .human_photos a:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
.human .container .human_photos a img {
  width: 100%;
}
@media screen and (max-width: 910px) {
  .human .container .human_photos a {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .human .container .human_photos a {
    margin-right: 20px;
  }
}
@media screen and (max-width: 458px) {
  .human .container .human_photos a {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.human .container .human_photos a:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.production {
  padding: 60px 0 120px;
  background: rgb(22, 58, 36);
}
@media screen and (max-width: 1200px) {
  .production {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 800px) {
  .production {
    padding-bottom: 60px;
  }
}
.production .container h3 {
  color: rgb(251, 250, 247);
  font-family: "Kings", cursive;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 418px) {
  .production .container h3 {
    font-size: 38px;
  }
}
.production .container .production_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 418px) {
  .production .container .production_box {
    display: block;
  }
}
.production .container .production_box .production_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.production .container .production_box .production_items:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
.production .container .production_box .production_items .production_images {
  margin-bottom: 28px;
}
.production .container .production_box .production_items h4 {
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 5px;
}
.production .container .production_box .production_items h5 {
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.focus {
  padding: 114px 0;
  background: rgb(242, 239, 230);
}
@media screen and (max-width: 1200px) {
  .focus {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 635px) {
  .focus {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.focus .container {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.focus .container h3 {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  margin-bottom: 27px;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 635px) {
  .focus .container h3 {
    font-size: 40px;
  }
}
.focus .container h4 {
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 760px;
  margin: auto;
}
@media screen and (max-width: 635px) {
  .focus .container h4 {
    font-size: 15px;
  }
}
.focus .container .focus_image {
  max-width: 1180px;
}
.focus .container .focus_image img {
  width: 100%;
}

.fit {
  padding: 60px 0;
}
@media screen and (max-width: 1200px) {
  .fit {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.fit .container .fit_postcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
@media screen and (max-width: 880px) {
  .fit .container .fit_postcard {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}
.fit .container .fit_postcard .fit_postcard_item h3 {
  margin-bottom: 27px;
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 70px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 400px;
}
.fit .container .fit_postcard .fit_postcard_item p {
  max-width: 379px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.fit .container .fit_postcard .fit_postcard_image {
  max-width: 492px;
}
.fit .container .fit_postcard .fit_postcard_image img {
  width: 100%;
}
.fit .container h4 {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 26px;
}
.fit .container h6 {
  margin-bottom: 18px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
.fit .container .fit_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fit .container .fit_box .fit_box_item {
  border-radius: 15px;
  box-shadow: 5px 5px 20px 0px rgb(233, 228, 213);
  background: rgb(251, 250, 247);
  padding: 60px 20px 60px 40px;
  max-width: 352px;
}
.fit .container .fit_box .fit_box_item:hover {
  position: relative;
  top: -25px;
  transition-duration: 0.4s;
}
@media screen and (max-width: 1113px) {
  .fit .container .fit_box .fit_box_item:first-of-type {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 752px) {
  .fit .container .fit_box .fit_box_item:nth-child(2) {
    margin-bottom: 20px;
  }
}
.fit .container .fit_box .fit_box_item h5 {
  max-width: 301px;
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 36px;
  font-weight: 600;
  line-height: 31.5px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fit .container .fit_box .fit_box_item ul {
  margin-left: 20px;
}
.fit .container .fit_box .fit_box_item ul li {
  margin-bottom: 15px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.fit .container .fit_box .fit_box_item ul li:last-of-type {
  margin-bottom: 0;
}

.easy {
  padding: 115px 0;
  background-color: #F2EFE6;
}
@media screen and (max-width: 1015px) {
  .easy {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 777px) {
  .easy {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.easy .container h3 {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 47px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 26px;
}
@media screen and (max-width: 440px) {
  .easy .container h3 {
    font-size: 40px;
  }
}
.easy .container h4 {
  margin-bottom: 40px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 440px) {
  .easy .container h4 {
    font-size: 16px;
  }
}
.easy .container .easy_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 777px) {
  .easy .container .easy_box {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 864px) {
  .easy .container .easy_box .easy_box_item {
    border: solid 1px pink;
    padding: 15px;
    border-radius: 85px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 777px) {
  .easy .container .easy_box .easy_box_item {
    margin-bottom: 20px;
  }
}
.easy .container .easy_box .easy_box_item h5 {
  margin-bottom: 13px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 249px;
}
.easy .container .easy_box .easy_box_item p {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 28px;
  font-weight: 600;
  line-height: 31.5px;
  letter-spacing: 0%;
  text-align: center;
}
.easy .container .easy_box .easy_box_item:last-of-type img {
  position: relative;
  top: 44px;
}
@media screen and (max-width: 864px) {
  .easy .container .easy_box .easy_box_item:last-of-type img {
    display: none;
  }
}
.easy .container .easy_box .easy_box_item:last-of-type h5 {
  position: relative;
  top: -91px;
  right: -15px;
}
@media screen and (max-width: 864px) {
  .easy .container .easy_box .easy_box_item:last-of-type h5 {
    position: static;
  }
}
.easy .container .easy_box .easy_box_item:last-of-type p {
  position: relative;
  top: -91px;
  font-size: 36px;
}
@media screen and (max-width: 864px) {
  .easy .container .easy_box .easy_box_item:last-of-type p {
    position: static;
  }
}
.easy .container .easy_box .easy_box_image {
  max-width: 75px;
}
@media screen and (max-width: 864px) {
  .easy .container .easy_box .easy_box_image {
    display: none;
  }
}
.easy .container .easy_box .easy_box_image img {
  width: 100%;
}
.easy .container .easy_link {
  border-radius: 160px;
  background: rgb(25, 140, 54);
  padding: 15px 25px;
  max-width: 189px;
  margin: auto;
}
.easy .container .easy_link:hover {
  background: pink;
}
.easy .container .easy_link a {
  text-decoration: none;
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.simple {
  padding: 120px 0;
}
@media screen and (max-width: 1000px) {
  .simple {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 921px) {
  .simple {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.simple .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 921px) {
  .simple .container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 921px) {
  .simple .container .simple_text {
    margin-bottom: 20px;
  }
}
.simple .container .simple_text h3 {
  margin-bottom: 25px;
  max-width: 400px;
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 67px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 429px) {
  .simple .container .simple_text h3 {
    font-size: 50px;
    max-width: 320px;
  }
}
@media screen and (max-width: 329px) {
  .simple .container .simple_text h3 {
    max-width: 300px;
    font-size: 45px;
  }
}
.simple .container .simple_text p {
  margin-bottom: 19px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.simple .container .simple_text a {
  text-decoration: none;
  border-radius: 160px;
  background: rgb(25, 140, 54);
  padding: 15px 25px;
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.simple .container .simple_text a:hover {
  background: yellow;
  color: green;
}
.simple .container .simple_image {
  max-width: 492px;
}
.simple .container .simple_image img {
  width: 100%;
}

.leaf {
  padding: 120px 0;
  background-color: #163A24;
}
@media screen and (max-width: 957px) {
  .leaf {
    padding: 60px 15px;
  }
}
.leaf .container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 957px) {
  .leaf .container {
    display: block;
  }
}
.leaf .container .leaf_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaf .container .leaf_text h3 {
  color: rgb(251, 250, 247);
  font-family: "Kings", cursive;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 26px;
}
@media screen and (max-width: 490px) {
  .leaf .container .leaf_text h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 413px) {
  .leaf .container .leaf_text h3 {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
.leaf .container .leaf_text h4 {
  margin-bottom: 18px;
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 413px) {
  .leaf .container .leaf_text h4 {
    font-size: 15px;
  }
}
@media screen and (max-width: 328px) {
  .leaf .container .leaf_text h4 {
    font-size: 14px;
  }
}
.leaf .container .leaf_text a {
  padding: 15px 25px;
  border-radius: 160px;
  background: rgb(250, 181, 160);
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}
.leaf .container .leaf_text a:hover {
  background: yellow;
}
@media screen and (max-width: 413px) {
  .leaf .container .leaf_text a {
    font-size: 12px;
  }
}
@media screen and (max-width: 957px) {
  .leaf .container .leaf_image {
    display: none;
  }
}

.date {
  padding: 60px 0;
  background: rgb(242, 239, 230);
}
@media screen and (max-width: 1000px) {
  .date {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.date .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 715px) {
  .date .container {
    flex-direction: column;
    align-items: center;
  }
}
.date .container .date_text h3 {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 26px;
}
.date .container .date_text h4 {
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
.date .container .date_form form {
  margin-bottom: 11px;
}
.date .container .date_form form input {
  width: 500px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(242, 239, 230);
  border-radius: 255px;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 1000px) {
  .date .container .date_form form input {
    width: 300px;
  }
}
@media screen and (max-width: 405px) {
  .date .container .date_form form input {
    width: 200px;
  }
}
.date .container .date_form form button {
  border-radius: 160px;
  background: rgb(21, 118, 46);
  padding: 12px 25px;
  color: rgb(251, 250, 247);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: -40px;
}
@media screen and (max-width: 405px) {
  .date .container .date_form form button {
    margin-left: -30px;
  }
}
.date .container .date_form p {
  max-width: 524px;
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.date .container .date_form p a {
  color: #15762E;
}
@media screen and (max-width: 1000px) {
  .date .container .date_form p {
    width: 300px;
  }
}

footer {
  padding: 40px 0 20px;
}
@media screen and (max-width: 1200px) {
  footer {
    padding: 40px 15px 20px;
  }
}
footer .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
  footer .container .box {
    flex-direction: column;
    align-items: center;
  }
}
footer .container .box h3 {
  color: rgb(22, 58, 36);
  font-family: "Kings", cursive;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 520px) {
  footer .container .box h3 {
    margin-bottom: 20px;
  }
}
footer .container .box .social {
  display: flex;
  align-items: center;
}
footer .container .box .social a {
  margin-right: 14px;
}
footer .container .box .social a:last-of-type {
  margin-right: 0;
}
footer .container .box .social a:hover {
  transform: scale(1.3);
  transition-duration: 0.3s;
}
footer .container hr {
  margin-bottom: 25px;
  background: rgb(242, 239, 230);
}
footer .container .last_text {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  footer .container .last_text {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 436px) {
  footer .container .last_text {
    display: block;
  }
}
footer .container .last_text p {
  color: rgb(22, 58, 36);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 900px) {
  footer .container .last_text p {
    margin-bottom: 20px;
  }
}
footer .container .last_text ul {
  display: flex;
}
@media screen and (max-width: 436px) {
  footer .container .last_text ul {
    display: block;
  }
}
footer .container .last_text ul li {
  list-style: none;
  margin-right: 14px;
}
footer .container .last_text ul li:last-of-type {
  margin-right: 0;
}
footer .container .last_text ul li:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
@media screen and (max-width: 436px) {
  footer .container .last_text ul li {
    margin-bottom: 20px;
  }
}
footer .container .last_text ul li a {
  text-decoration: none;
  color: rgb(25, 140, 54);
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: right;
}
@media screen and (max-width: 436px) {
  footer .container .last_text ul li a {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */